name: CD

on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6.0.0

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::304035489951:role/gatus_ecs_oidc_role
          aws-region: eu-north-1

      - name: Terraform plan & apply
        run: |
          cd infra
          terraform init
          terraform plan
          terraform apply -auto-approve
        env:
          TF_VAR_gatus_image_tag: ${{ github.sha }}