name: CD

on: [push]

jobs:
    build:
        runs-on: [ubuntu-latest]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
                aws-region: eu-north-1

            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2                
                

              
            - name: Terraform plan & apply
              run: |
                IMAGE_TAG=latest
                cd ../infra
                terraform init
                terraform plan -var="gatus_image_tag=$IMAGE_TAG"
                terraform apply -var="gatus_image_tag=$IMAGE_TAG" -auto-approve

            - name: Build, tag, and push docker image to Amazon ECR
              run: |
                REGISTRY=${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.eu-north-1.amazonaws.com
                REPOSITORY=${{secrets.ECR_REPO}}
                IMAGE_TAG=latest
                cd app
                docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
                docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
              
             
                    