name: CD

on:
  workflow_run:
    workflows: ["ci"]      
    types:
      - completed
        
  workflow_dispatch:

permissions:
  id-token: write
  contents: read


jobs:
    build:
        runs-on: [ubuntu-latest]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0
              
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::304035489951:role/gatus_ecs_oidc_role #oidc authentication
                aws-region: eu-north-1   
              
            - name: Terraform plan & apply
              run: | #plan and apply with image tag
                cd infra
                terraform init
                terraform plan 
                terraform apply -auto-approve 
              env:
                TF_VAR_gatus_image_tag: ${{github.sha}}

            
          
                  