name: CD

on:
  workflow_run:
    workflows: ["ci"]      
    types:
      - completed
        
  workflow_dispatch:

permissions:
  id-token: write
  contents: read


jobs:
    build:
        runs-on: [ubuntu-latest]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0
              
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::304035489951:role/gatus_ecs_oidc_role #oidc authentication
                aws-region: eu-north-1

            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2     
              
            - name: Create Bootstrap ecr repo  #ecr needs to exist before building and pushing
              run: |
                cd infra
                terraform init
                terraform apply -target=aws_ecr_repository.gatus -auto-approve

              
              
              
            - name: Build, tag, and push docker image to Amazon ECR
              run: |
                REGISTRY=304035489951.dkr.ecr.eu-north-1.amazonaws.com
                REPOSITORY=${{secrets.ECR_REPO}}
                IMAGE_TAG=${GITHUB_SHA} 
                cd app
                docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
                docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
                
                
                
            - name: Write Terraform variables
              run: | #github sha = commit id
                echo "gatus_image_tag = \"${GITHUB_SHA}\"" > infra/terraform.tfvars
              
            - name: Terraform plan & apply
              run: | # 
                cd infra
                terraform init
                terraform plan -var-file="terraform.tfvars"
                terraform apply  -auto-approve -var-file="terraform.tfvars"

            
          
                  