name: CI

on: [push]

jobs:
    build:
        runs-on: [ubuntu-latest]

        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2
                
            - name: Cache Terraform modules
              uses: actions/cache@v3
              with:
                path: |
                  infra/.terraform
                  infra/.terraform.lock.hcl
                key: terraform-${{ hashFiles('infra/*.tf*') }}-${{ runner.os }} #Caches all tf files in infra. code change --> new hash key --> new cache key.
                
            - name: Terraform Format & Validate
              run: |
                cd infra
                terraform fmt -check -recursive
                terraform init -backend=false
                terraform validate



            - name: Build Docker image
              uses: docker/build-push-action@v6.18.0
              with:
                context: ./app
                file: ./app/Dockerfile
                push: false
                load: true
                tags: local/gatus_ecs:ci
                cache-from: type=local,ref=local/gatus_ecs:ci
                cache-to: type=local,ref=local/gatus_ecs:ci,mode=max

            - name: Scan Image
              uses: aquasecurity/trivy-action@0.33.1
              with:
                image-ref: local/gatus_ecs:ci
                exit-code: 1
                severity: 'CRITICAL,HIGH'




