name: CI

#on:
  push:
    branches:
      - main
       
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  DOCKER_BUILDKIT: 1
jobs:
    build:
        runs-on: [ubuntu-latest]

        steps:
            - name: Checkout Code
              uses: actions/checkout@v6.0.0
            
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::304035489951:role/gatus_ecs_oidc_role #oidc authentication
                aws-region: eu-north-1
                
            - name: Cache Terraform modules
              uses: actions/cache@v3
              with:
                path: |
                  infra/.terraform
                  infra/.terraform.lock.hcl
                key: terraform-${{ hashFiles('infra/*.tf*') }}-${{ runner.os }} #Caches all tf files in infra. code change --> new hash key --> new cache key.
                
            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2 

            - name: Terraform Format & Validate
              run: |
                cd infra
                terraform fmt -check -recursive
                terraform init -backend=false
                terraform validate
              env:
                TF_VAR_gatus_image_tag: ${{github.sha}}


            - name: Build Docker image
              uses: docker/build-push-action@v6.18.0
              with:
                context: ./app
                file: ./app/Dockerfile
                push: false
                load: true
                tags: local/gatus_ecs:ci

            - name: Scan Image
              uses: aquasecurity/trivy-action@0.33.1
              with:
                image-ref: local/gatus_ecs:ci
                exit-code: 1
                severity: 'CRITICAL,HIGH'

            - name: Build, tag, and push docker image to Amazon ECR #create ecr repo before building and pushing
              run: |
                aws ecr create-repository --repository-name ${{secrets.ECR_REPO}} --region eu-north-1 || true
                REGISTRY=304035489951.dkr.ecr.eu-north-1.amazonaws.com
                REPOSITORY=${{secrets.ECR_REPO}}
                IMAGE_TAG=${GITHUB_SHA} 
                cd app
                docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
                docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG




